@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    .advantages {
        &__item {
            padding: 10px 20px;
        }
    }
    .promo {
        button {
            margin-right: 30px;
        }
        &__link {
            margin-right: 30px;
        }
        &__header {
            margin-right: 30px;
        }
        &__subheader {
            margin-right: 30px;
        }
        &__icons {
            margin-right: 30px;
        }
    }
    .consultation {
        padding-left: 20px;
    }
}
@media (max-width: 767px) {
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        &__logo {
            width: 250px;
            img {
                width: 100%;
                padding: 15px 0;
                margin: 0 15px;
            }
        }
        &__official {
            padding: 15px 0;
            margin: 0 15px;
        }
        &__phone {
            display: block;
            margin: 0 auto;
        }
        .button {
            display: block;
            margin-right: 0;
            margin: 0 auto;
        }
    }
    .promo {
        button {
            margin-right: 30px;
        }
        &__link {
            margin-right: 30px;
        }
        &__header {
            margin-right: 30px;
        }
        &__subheader {
            margin-right: 30px;
        }
    }
    .advantages {
        padding: 40px 0 30px 0;
        &__items {
            margin-top: 48px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            padding: 10px 20px;
        }
    }
    .consultation {
        padding-left: 10px;
        padding-right: 10px;
        h2 {
            font-size: 28px;
            width: 100%;
            text-align: center;
        }
        &__descr {
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            display: block;
            margin: 0 auto;
        }
        input {
            width: 100%;
        }
    }
}
@media (max-width: 575px) {
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        &__logo {
            width: 200px;
            img {
                display: block;
                width: 100%;
                padding: 15px 30px;
                margin: 0 auto;
            }
        }
        &__official {
            display: none;
            padding: 15px 0;
            margin: 0 15px;
        }
        &__phone {
            display: block;
            margin: 0 auto;
        }
        .button {
            display: block;
            margin-right: 0;
            margin: 0 auto;
        }
    }
    .promo {
        min-height: 480px;
        padding: 20px 0 10px 0;
        img {
            padding: 0 0 10px 0;
        }
        &__header {
            display: block;
            margin: 0 auto;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
            width: 90%;
        }
        &__subheader {
            display: block;
            margin: 0 auto;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            width: 90%;
        }
        &__icons {
            margin: 25px 0 0 0;
            width: 100%;
            justify-content: space-around;
        }
        button {
            display: block;
            margin: 25px auto;
            text-align: center;
        }
        &__link {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
    .consultation {
        padding: 20px 10px;
        min-height: 480px;
        h2 {
            font-size: 22px;
        }
        &__descr {
            font-size: 14px;
            margin-bottom: 20px;
        }
        form {
            width: 95%;
        }
    }
}
