.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .dots-style {
        text-align: center;
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
    }
    .dots-style button {
        background: #adadad77;
        border: none;
        border-radius: 50%;
        font-size: 0;
        height: 15px;
        width: 15px;
        margin: 5px;
        outline: none;
    }
    .dots-style li[class="slick-active"] button {
        background: #717171;
    }
}
